html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav {

  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: #808080;
  text-align: center;
  line-height: 50px;
}

.nav .container {
  width: 960px;
  display: flex;
  gap: 550px;
  justify-content: space-between;
}

.nav .container .menu {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav li a {
  text-align: center;

  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.nav .firm {
  text-decoration: none;
  text-align: start;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.disabled {
  cursor: not-allowed;
}

.header {

  height: calc(100vh - 70px);
  background-image: url("airsoft-4498480_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.header .shadow {

  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.header .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 960px;
  height: 100%;
  margin: 0 auto
}

.header .heading {

  max-width: 580px;
  font-size: 36px;
  color: #ffff;
  margin-top: 20px;

}

.header p {

  max-width: 275px;
  font-size: 18px;
  font-weight: 700;
  color: #ffff;

}

.header .offer-btn {

  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffff;
  width: 165px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
  border: 3px solid #ffff;
  transition: 1s;
}

.header .offer-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.main .specjalist1 {

  display: flex;
  flex-direction: column;


}

.specjalist1 .container {
  width: 960px;
  display: flex;
  margin: 0 auto;

}

.specjalist1 h2 {
  margin: 0 auto;
  width: 960px;
  height: 80px;
  font-size: 36px;
  font-weight: 700;
  line-height: 80px;
}



.container .items1:nth-child(1) {
  display: flex;
  width: 250px;
  height: 250px;
  left: 95px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-image: url("military-1442907_640a.jpg");
}

.container .items1:nth-child(2) {
  left: 200px;
  font-size: 18px;
  width: 860px;
  height: 200px;
  margin-left: 100px;
  margin-top: 40px;

}

.container .items1 h3 {
  font-weight: 700;
  margin-bottom: 20px;
}


.specjalist2 .container {
  width: 960px;
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;

}

.container .items2:nth-child(1) {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-image: url("soldier-4771917_640a.jpg");
}

.container .items2:nth-child(2) {
  display: block;
  width: 700px;
  height: 200px;
  text-align: right;
  font-size: 18px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.container .items2 h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.offers {
  width: 100%;
  background-color: #253332;
}

.baner {
  margin: 0 auto;
  width: 960px;
  height: 80px;
  font-size: 36px;
  font-weight: 700;
  line-height: 80px;
  color: #798f8b;

}

.containerU {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: center;
  background-color: #253332;
  transition: 0.5;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-shadow: #514a4a 0.1em 0.1em 0.2em;
  box-shadow: #514a4a 0.5em 0.5em 0.5em;
  background-color: #798f8b;
}

.box:hover {
  transform: scale(1.05);
}

.circle {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 25px;
  height: 25px;
  background-color: #ff0000;
  border-radius: 50%;
}

.box p {
  padding: 0 50px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #808080;
  text-align: center;
  margin: 0 auto;
}

.footer .container {
  display: flex;
  width: 960px;
  align-items: center;
  justify-content: space-between;

}

.footer .container p {
  font-size: 18px;
  color: #ffff;
}

.container .icon {
  font-size: 30px;
  color: #ffff;
}